VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=nexus-chat
VITE_APPWRITE_API_KEY=

APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_DATABASE_ID=nexus-chat
APPWRITE_API_KEY=

ADMIN_EMAIL=elonmuskite@gmail.com
ADMIN_PASSWORD=Jagaban@1
ADMIN_MEMBER_ID=1000000000
